### Maven ###
target/
!.mvn/wrapper/maven-wrapper.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-maven/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db
